@font-face {
	font-family: "Barlow";
	font-weight: 400;
	src: url("./fonts/Barlow-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Barlow";
	font-weight: 400;
	font-style: italic;
	src: url("./fonts/Barlow-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Barlow";
	font-weight: 700;
	src: url("./fonts/Barlow-SemiBold.woff2") format("woff2");
}

body {
	margin: 0;
	padding: 0;
	font-family: "Barlow", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
