.LocateMeButton {
	position: absolute;
	bottom: 148px;
	right: 16px;
	z-index: 1000;
	display: flex;
	align-items: flex-end;
}

@media only screen and (max-width: 480px) {
	/* Determine the LocateMe button margin-bottom value based on the number of placeList items */
	.margin-bottom-zero-items .LocateMeButton {
		bottom: calc(148px + var(--nearest-header-height));
	}
	.margin-bottom-one-items .LocateMeButton {
		bottom: calc(
			148px + var(--nearest-header-height) + var(--nearest-item-height)
		);
	}
	.margin-bottom-two-items .LocateMeButton {
		bottom: calc(
			148px + var(--nearest-header-height) + var(--nearest-item-height) +
				var(--nearest-item-height)
		);
	}
}

.LocateMeButton .info_message {
	padding: calc(var(--grid-base) * 4);
	z-index: 1000;
	border-radius: 10px;
	background-color: white;
	width: calc(100vw - 92px);
	font-size: 17px;
	line-height: 22px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 481px) {
	.LocateMeButton .info_message {
		width: 300px;
	}
}

.LocateMeButton .arrow-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid white;
	margin-bottom: 14px;
	margin-right: calc(var(--grid-base) * 2);
	z-index: 1001;
}

button.map-control.locate-me {
	height: 44px;
}

button.map-control.locate-me.loading svg {
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

button.map-control.locate-me.active {
	border: 2px solid #6f5af2;
}
